* {
    box-sizing: border-box;
}
html {
    background: #fcfbf8;
    color: #1b1a1c;
        padding: 0.5em;
        font-size: 1.1em;
}

h1 {
    font-size: 1.8em
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

article {
    max-width: 30rem;
}

footer {}

pre {
    padding: 1em;
    border-radius: 4px;
}