---
export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Joey Iny" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
    </style>

    <title>{title}</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">joey iny</a>
      </nav>

      <main>
        <slot />
      </main>

      <footer>
        ✶<br />you don't know if there's light on the other side till you go through it<br />
        <a href="https://x.com/joeyiny">x</a> / <a href="mailto:joeyainy@gmail.com">email</a>
      </footer>
    </header>
  </body>
</html>
