---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <article class="markdown-content">
    <h1>{frontmatter.title}</h1>
    {
      frontmatter.date && (
        <div class="date">
          <time datetime={frontmatter.date}>{new Date(frontmatter.date).toLocaleDateString()}</time>
        </div>
      )
    }
    <slot />
  </article>
</BaseLayout>

<style>
  .date {
    color: #aaa;
    font-style: italic;
  }
</style>
